@import '../../../sass/variables.scss';
@import '../../../sass/mixins.scss';
@import '../../../sass/container.scss';

.img {
  height: 100%;
  width: 96px;
  object-fit: cover;

  &__wrapper {
    width: 96px;
    height: 102px;
  }
}

.card {
  display: flex;
  gap: 12px;

  &__title {
    color: $main-font-text-color;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__title {
    @include font(16px, 2vw, 16px, 700, 24px);
  }

  &__left {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__price {
    @include font(16px, 2vw, 16px, 400, 24px);
  }

  &__price_discount_style {
    text-decoration: line-through;
    @include font(16px, 2vw, 16px, 400, 24px);
    text-align: left;
    color: $review-text-gray-color;
  }

  &__price_block {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__price_discount {
    @include font(16px, 2vw, 16px, 400, 24px);
    color: $price-discount-color-red;
    text-align: left;
  }

  &__buttom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__quantity_buttons {
    display: flex;
    height: 32px;
    border: 1px solid $review-text-gray-color;
  }

  &__button_minus {
    width: 28px;
    background-color: #fff;
    border: none;
    font-size: 17px;
    cursor: pointer;
  }

  &__button_plus {
    width: 28px;
    background-color: #fff;
    border: none;
    font-size: 17px;
    cursor: pointer;
  }

  &__count_text {
    @include font(14px, 2vw, 14px, 400, 24px);
    display: flex;
    align-items: center;
  }

  @include onPhone {
    .card {
      &__title {
        @include font(16px, 2vw, 16px, 500, 20px);
      }

      &__left {
        gap: 12px;
      }

      &__price_block {
        display: flex;
        align-items: center;
        gap: 5px;
      }

      &__quantity_buttons {
        height: 36px;
      }

      &__count_text {
        @include font(14px, 2vw, 14px, 400, 24px);
        display: flex;
        align-items: center;
      }
    }
  }

  .btn {
    width: 59px;
    height: 24px;
    color: $error-color;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    @include font(16px, 2vw, 16px, 400, 24px);

    @include onPhone {
      width: 59px;
      height: 36px;
    }
  }
}
