@import '../../../sass/variables.scss';
@import '../../../sass/mixins.scss';
@import '../../../sass/container.scss';

.input {
  border: none;
  border-bottom: 1px solid #19191b;
  width: 512px;
  height: 38px;
  padding-block: 12px;
  outline: none;
  @include font(20px, 2vw, 20px, 300, 26px);

  &::placeholder {
    @include font(20px, 2vw, 20px, 300, 26px);
    text-align: left;
    color: $placeholder-text-color;
  }
}

.button {
  @include font(20px, 2vw, 20px, 500, 30px);
  margin-top: 56px;
  margin-bottom: 24px;
  height: 62px;
  width: 512px;
  background-color: $main-font-text-color;
  color: #fff;
  cursor: pointer;
  box-sizing: border-box;

  @include hover(
    (
      color: $main-font-text-color,
      background-color: #fff,
    )
  );

  &:disabled {
    background-color: $disabled-background-color;
    color: $placeholder-text-color;
    border: none;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 48px;
}
