@import './variables.scss';

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexSpaceBetween() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex() {
  display: flex;
  align-items: center;
}

@mixin fontSize($fs: 14px, $fw: 400px, $lh: 14px) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh / $fs;
}

@mixin font($fsMin: 14px, $fsPreferred: 2vw, $fsMax: 24px, $fw: 400, $lh: 14px) {
  font-size: clamp($fsMin, $fsPreferred, $fsMax);
  font-weight: $fw;
  line-height: $lh;
}

@mixin hover($properties) {
  transition: all $transition-time ease-in-out;

  &:hover {
    @each $property, $value in $properties {
      #{$property}: $value;
    }
  }
}

@mixin onDesktop {
  @media (min-width: $min-screen-size-desktop) {
    @content;
  }
}

@mixin onPhone {
  @media (max-width: $max-screen-size-phone) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: $min-screen-size-tablet) and (max-width: $max-screen-size-tablet) {
    @content;
  }
}

@mixin mediaMaxQuery($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin onSmallDesktop {
  @media (min-width: $min-screen-size-small-desktop) and (max-width: $max-screen-size-tablet) {
    @content;
  }
}

@mixin onMedianDesktop {
  @media (min-width: $min-screen-size-median-desktop) and (max-width: $max-screen-size-small-desktop) {
    @content;
  }
}
