@import '../../../../sass/variables.scss';
@import '../../../../sass/mixins.scss';
@import '../../../../sass/container.scss';

.card {
  display: flex;
  gap: 16px;

  &__add_info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 155px;
  }

  &__main_info {
    width: 688px;
  }

  &__rate {
    margin-bottom: 16px;
  }

  &__date {
    @include font(16px, 2vw, 16px, 400, 24px);
    color: $review-text-gray-color;
  }

  &__title {
    margin-bottom: 8px;
    @include font(20px, 2vw, 20px, 500, 30px);
  }

  &__name {
    @include font(16px, 2vw, 16px, 700, 24px);
  }

  &__text {
    @include font(16px, 2vw, 16px, 400, 24px);
    color: $review-text-gray-color;
  }
}
