@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';
@import '../../sass/normalize.scss';
@import '../../sass/container.scss';

.catalog {
  margin-top: 110px;

  &__header {
    margin-bottom: 80px;
  }

  @include onTablet {
    // margin-top: 191px;
    // margin-bottom: 291px;
  }

  @include onPhone {
    // margin-top: 132px;
    // margin-bottom: 138px;
  }
}

.breadcrumbs {
  &__container {
    margin-bottom: 16px;
    margin-top: 8px;
  }
}
