@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';
@import '../../sass/normalize.scss';
@import '../../sass/container.scss';

.signup {
  margin-top: 200px;
  display: flex;
  justify-content: center;
}
