@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';
@import '../../sass/container.scss';

.sellers {
  &__container {
    margin-bottom: 104px;
  }

  &__title {
    @include font(40px, 2vw, 40px, 300, 62.4px);
    margin-bottom: 40px;
    text-align: left;
    text-transform: uppercase;
  }

  &__btn_wrapper {
    @include flexCenter();
  }

  &__btn {
    @include font(24px, 2vw, 24px, 500, 24px);
    text-decoration: none;
    color: $main-font-text-color;
    position: relative;
    padding-bottom: 7px;
    width: fit-content;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1.5px;
      background-color: $main-font-text-color;
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform 0.3s ease;
    }

    &:hover {
      &::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }

  &__list {
    margin-bottom: 56px;
  }

  @include onTablet {
    margin-bottom: 40px;

    .sellers {
      &__container {
        margin-bottom: 88px;
      }
    }
  }

  @include onPhone {
    &__title {
      @include font(32px, 2vw, 32px, 300, 41px);
      margin-bottom: 32px;
    }

    .sellers {
      &__container {
        margin-bottom: 80px;
      }
    }
  }
}
