@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';
@import '../../sass/container.scss';

.description {
  margin-bottom: 104px;
  display: flex;
  justify-content: space-between;

  @include mediaMaxQuery(950px){
    gap: 40px;
    flex-direction: column;
    
  }
}
