@import '../../../sass/variables.scss';
@import '../../../sass/mixins.scss';
@import '../../../sass/container.scss';

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  column-gap: 16px;
  justify-content: center;

  @include onPhone {
    gap: 24px;
    column-gap: 8px;
  }
}
