@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';
@import '../../sass/normalize.scss';
@import '../../sass/container.scss';

.page {
  &__container {
    margin-top: 64px;
    margin-bottom: 104px;
    display: flex;
    justify-content: space-between;
  }
}
