@import '../../../../sass/variables.scss';
@import '../../../../sass/mixins.scss';
@import '../../../../sass/container.scss';

.list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

@include mediaMaxQuery(640px) {
  .list {
    gap: 8px;
    overflow-x: scroll;
    justify-content: start;
  }
}

@include onSmallDesktop {
  .list {
    gap: 16px;
    overflow-x: auto;
    justify-content: start;
  }
}

.list::-webkit-scrollbar {
  display: none;
}
