@import '../../../sass/variables.scss';
@import '../../../sass/mixins.scss';
@import '../../../sass/container.scss';

.menu {
  &__button {
    width: 166px;
    height: 56px;
    background-color: #fff;
    @include font(20px, 2vw, 20px, 500, 30px);
    color: $main-font-text-color;
    cursor: pointer;
    box-sizing: border-box;

    @include hover(
      (
        color: #fff,
        background-color: $main-font-text-color,
      )
    );
  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 64px;
  }

  &__text {
    @include font(24px, 2vw, 24px, 300, 30px);
    cursor: pointer;
    position: relative;
    width: fit-content;
    padding-block: 8px;

    &.is_active::after {
      content: '';
      height: 1px;
      width: 100%;
      position: absolute;
      background-color: $main-font-text-color;
      bottom: 0;
      left: 0;
    }
  }
}
