@import '../../../sass/variables.scss';
@import '../../../sass/mixins.scss';
@import '../../../sass/container.scss';

.contacts {
  background-color: #fff;
  padding-block: 40px;
  height: fit-content;
  margin: unset;

  &__title {
    @include font(40px, 2vw, 40px, 300, 2px);
  }

  &__addresses {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
  }

  &__address {
    display: flex;
    gap: 24px;

    &_header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
    }

    &_block {
      display: flex;
      flex-direction: column;
      gap: 4px;
      flex-grow: 1;
    }

    &_text {
      @include font(20px, 2vw, 20px, 500, 30px);
    }
  }

  &__checkbox {
    appearance: none;
    width: 22px;
    height: 22px;
    border: 1px solid black;
    border-radius: 24px;
    align-self: center;
    position: relative;
    cursor: pointer;

    &::before {
      content: '';
      background-color: black;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: all 0.3s ease-in-out;
    }

    &:checked:before {
      transform: translate(-50%, -50%) scale(1);
    }

    &:hover {
      border-color: black;
    }

    &:hover::before {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &__icon {
    cursor: pointer;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  @include onTablet {
    padding-block: 16px;

    &__title {
      @include font(24px, 2vw, 24px, 300, 24px);
    }

    &__address {
      &_text {
        @include font(20px, 2vw, 20px, 500, 30px);
      }
    }
  }

  @include onPhone {
    padding-block: 16px;

    &__title {
      @include font(24px, 2vw, 24px, 300, 24px);
    }

    &__address {
      &_text {
        @include font(20px, 2vw, 20px, 500, 30px);
      }
    }
  }
}

.btn {
  width: 248px;
  height: 56px;
  background-color: $main-font-text-color;
  color: #fff;
  @include font(20px, 2vw, 20px, 500, 30px);
  box-sizing: border-box;
  cursor: pointer;

  @include hover(
    (
      background-color: #fff,
      color: $main-font-text-color,
    )
  );

  @include onTablet {
  }

  @include onTablet {
    width: 168px;
    height: 50px;
    @include font(16px, 2vw, 16px, 400, 24px);
  }

  @include onPhone {
    width: 168px;
    height: 50px;
    @include font(16px, 2vw, 16px, 400, 24px);
  }
}

.input {
  &__default_text {
    color: $review-text-gray-color;
    @include font(16px, 2vw, 16px, 400, 24px);
  }
}
